<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953595471801-05566nsh2jj1j7mfpqc785p73b2chks1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953595471801-05566nsh2jj1j7mfpqc785p73b2chks1</string>
	<key>API_KEY</key>
	<string>AIzaSyBXPIbsFbZHh6pE-V1lpSHgR1wFaR7kAJA</string>
	<key>GCM_SENDER_ID</key>
	<string>953595471801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aplaice.ARSearchShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>proen2020itemdata</string>
	<key>STORAGE_BUCKET</key>
	<string>proen2020itemdata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953595471801:ios:b54f58ba3c14254ef53868</string>
	<key>DATABASE_URL</key>
	<string>https://proen2020itemdata.firebaseio.com</string>
</dict>
</plist>